 body{
        font-family: Arial, Helvetica, sans-serif;
        background-color: #e6e3e3;
        color: #1A1A1A;
        margin: 0px;
    }

    header{
        text-align: center;
        padding: 20px;
        margin: 0px;
        /* background-color: #66FFCC; */
        background-color: #53CFA5;
    }

    table{
        margin-left: 20px;
        margin-top: 0px;
        background-color:#53CFA5;
        padding: 5px;
    }

    menu{
        margin: 0px;
    }

    th{
        padding: 20px;
        
    }

    a{
          padding: 20px;
        text-decoration: none;
        color:#1A1A1A;
    }

    a:hover{
        background-color: #63FFC1;
    }