 body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e6e3e3;
    color: #1A1A1A;
    margin: 0px;
    
}

header{
    text-align: center;
    padding: 20px;
    margin: 0px;
    background-color: #53CFA5;
}

.content{
    display: flex;
}



a{
    display: block;
    text-decoration: none;
    color:#1A1A1A;
    background-color:#53CFA5;
    

    text-align: center;
    margin: 5px;
    padding: 20px 0;
}



a:hover{
    background-color: #63FFC1;
}

.menu{
    display: block;
    width: 40%;
    max-width: 250px;
}

.menu a{
    font-weight: bold;
}

.main{
    align-items: center;
    width: 60%;
    margin: auto;
}

.main a{
    background-color:	 #54cfb0;
}

.main a:hover{
    background-color: #63FFC1;
}

.lab3{
    width: 60%;
    margin: auto;
    
}

.lab3 a{

    margin: 10px; 
    border-radius: 20px;
    padding: 30px 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 5px 0 gray;
}

.lab3 a:hover{
    background-color: #63FFC1;
    
}

/* BUTTON OPEN/CLOSE MENU */

#OpenCloseMenu{
    position: absolute;
    left: 20px;
    top: 20px;
    background-color: #9ff7d9;
    padding: 20px;
    margin: 10px 0;
    border-radius: 20px;
    color: black;
    font-weight: bold;
    border: 0;
}





/* KALKULATOR */

#kalkulator{

    width: 85%;
    max-width: 400px;
    margin: auto;
    border: 0px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color:  #1a1a1a;
    padding: 20px;
}

.wiersze{
    display: grid;  
    justify-content: center;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 5px;
} 

#kalkulator #cDisplay{
    grid-column: 1/ span 3;
    margin: 5px;
    border-radius: 5px;
    border: 0;
    background-color: #565656;
    text-align: right;
    color: white;
    font-size: 30px;
    padding: 0 10px;

   
}

#kalkulator button{
    /* max-width: 50px; */
    margin: 5px;
   flex: 1 1 0;
   aspect-ratio: 1.2/1;
    font-size: 30px;
    border-radius: 5px;
    border: 0px solid black;
    background-color: #333333;
    color: white;
}

#kalkulator button:hover{
    background-color: #150073;
    cursor: pointer;


}
